#!/usr/bin/make -f
# debian/rules for sidplay and associated packages, (C) 1998-99 by ujr.
# Made using the sample rules from debhelper [GNU copyrighted by Joey Hess].

## Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
## Uncomment this to see what should happen.
#export DH_NO_ACT=1

build: build-stamp
build-stamp:
# to run 'make depend' is no longer necessary, because ./configure already does it
	dh_testdir debian/rules libsidplay console html-info
	patch -p1 -s < sidmusic-faqs-19990515.patch
# well, ./configure isn't interactive here and doesn't take long, so it's
# carried out in order to assist building the package for people with other
# architectures and compiler environments
	./configure --prefix=/usr
	mkdir debian/tmp
# Compile the shared library
# We should use Debian standard egcs (instead of gcc's g++)
# in order to prevent problems occuring with '-O2 -fPIC' or '-g'.
	$(MAKE) -C libsidplay clean	
	$(MAKE) -C libsidplay CXXFLAGS="-pipe -funroll-loops -O3 -g -Wall -D_REENTRANT -fPIC" \
	                      LDFLAGS="-lc" libsidplay.so
	install libsidplay/libsidplay.so debian/tmp/libsidplay.so
# Compile the static library (without '-fPIC')
	$(MAKE) -C libsidplay clean	
	$(MAKE) -C libsidplay CXXFLAGS="-pipe -funroll-loops -O3 -g -Wall -D_REENTRANT" \
	                      LDFLAGS="-lc" libsidplay.a
	install libsidplay/libsidplay.a debian/tmp/libsidplay.a
# This is necessary for compiling static and shared libraries in the same directory
	$(MAKE) -C libsidplay clean	
	install debian/tmp/libsidplay.a libsidplay/libsidplay.a
	install debian/tmp/libsidplay.so libsidplay/libsidplay.so
	rm -rf debian/tmp
# Compile sidplay for console (using egcs, again)
	$(MAKE) -C console clean
	$(MAKE) -C console CXXFLAGS="-O3 -g -Wall" LDFLAGS="-lc"
	touch build-stamp

clean:
	dh_testroot
	dh_testdir debian/rules libsidplay console html-info
	-rm -f build-stamp
	-rm STIL.faq hv_sids.faq
	-$(MAKE) distclean	
	dh_clean

# Build architecture-independent files here.
binary-indep: build
# Nothing to do here.

# Build architecture-dependent files here.
binary-arch: build
# libsidplay1.36: Shared Library
# libsidplay1.36-dev: Static Library and development files
# sidplay: simple Player application for the console
	dh_testversion 1.2.26
	dh_testroot
	dh_testdir debian/rules libsidplay console html-info
	dh_clean -k
	dh_installdirs -A
# Installation
	$(MAKE) -C libsidplay prefix=`pwd`/debian/tmp/usr install-shared
	$(MAKE) -C libsidplay prefix=`pwd`/debian/libsidplay1.36-dev/usr install-headers install-static
	mv debian/tmp/usr/lib/*.so debian/libsidplay1.36-dev/usr/lib
	install -d -m 755 `pwd`/debian/sidplay/usr/bin
	$(MAKE) -C console prefix=`pwd`/debian/sidplay/usr install
# Package organisation
	dh_installdocs
# unneeded dh_ scripts from the sample debian/rules file
#	dh_installexamples
##	dh_installinit
#	dh_installcron
#	dh_installmanpages
	dh_undocumented -psidplay sidplay.1.gz sid2wav.1.gz sidcon.1.gz
	dh_installchangelogs libsidplay/DEVELOPER
# use the same /usr/share/doc directory for all packages built here
	-rm -rf debian/libsidplay1.36-dev/usr/share/doc/libsidplay1.36-dev
	ln -s libsidplay1.36 debian/libsidplay1.36-dev/usr/share/doc/libsidplay1.36-dev
	-rm -rf debian/sidplay/usr/share/doc/sidplay
	ln -s libsidplay1.36 debian/sidplay/usr/share/doc/sidplay
	dh_strip
	dh_compress
	dh_fixperms
#	dh_suidregister
	dh_installdeb
# This trick prevents libsidplay from showing up in shlibs
	LD_PRELOAD=libsidplay/libsidplay.so dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs -V -plibsidplay1.36
	dh_md5sums
	dh_builddeb
	
binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary

# vim:tw=0

